{{#partial "content"}}
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time>{{ entry.time }}</time>
            <div class="entry">
                <p> {{ entry.body }}</p>
                <p><a class="link" href="/edit/{{ entry.slug }}">Edit Entry</a></p>
            </div>
        </article>
    </div>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#each entry.comments }}
            <div class="comment">
                <strong>{{ name }}</strong>
                <time>{{ time}}</time>
                <p>{{ body }}</p>
            </div>
                {{/each}}
            <div class="new-comment">
                <form action="/detail/{{entry.slug}}" method="post">
                    <label for="name"> Name</label>
                    <input type="text" name="name"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}